{
    "printWidth": 80,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "ignore",
    "plugins": ["prettier-plugin-astro"]
}
