---
import ContentPic from "../assets/content-exp.jpg";
import Leaf from "../assets/leaf.svg";
import Fence from "../assets/fence.svg";
import Hammer from "../assets/hammer.svg";
---

<section class="content-exp-section" aria-labelledby="experience-section">
    <div class="content-exp-section-container">
        <div class="content-exp-text-box">
            <h3>20+ years of Experience</h3>
            <p>
                With decades of expertise in decking, fencing, landscaping, and
                patios, we bring a wealth of knowledge and skill to every
                project. Serving Navasota, TX, and surrounding areas, our team
                is committed to providing high-quality outdoor solutions
                tailored to your unique vision. Whether you’re looking to
                upgrade your backyard with a custom deck, add a new fence, or
                create a stunning patio, we ensure lasting results that enhance
                the beauty and functionality of your space.
            </p>
        </div>
    </div>
    <img
        class="content-exp-main-img"
        src={ContentPic.src}
        alt="The owner working on a project."
    />
</section>
