<section class="content-exp">
    <div class="content-exp-text-box">
        <h3>20+ Years of Experience</h3>
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
            quae Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
            odit aut fugit, sed quia conse quuntur magni dolores eos qui ratione
            voluptatem sequi nesciunt. Neque porro quisquam qui dolorem ipsum
            quia dolor sit amet, consectetur, adipisci velit.
        </p>
        <div class="content-exp-icon-container">
            <img src="" />
            <p></p>
        </div>
        <div class="content-exp-icon-container">
            <img src="" />
            <p></p>
        </div>
        <div class="content-exp-icon-container">
            <img src="" />
            <p></p>
        </div>
    </div>
    <img src="" />
</section>
