<section class="content-testimonials-container">
    <h3>TESTIMONIALS</h3>
    <h6>What People Are Saying</h6>
    <p class="content-test-quote">"</p>
    <p class="content-test-review">
        The new fence looks amazing and really improved our yard. The crew was
        professional, fast, and cleaned up everything after. Highly recommend
        them!
    </p>
    <div class="content-test-author-location-container">
        <p class="content-test-author">Bob Thomas /</p>
        <p class="content-test-location">Conroe, TX</p>
    </div>
</section>
