---
import facebookSVG from "../assets/facebook.svg";
import googleSVG from "../assets/google.svg";
import twitterSVG from "../assets/twitter.svg";
import youtubeSVG from "../assets/youtube.svg";
import instagramSVG from "../assets/instagram.svg";
import "../styles/styles.css";
---

<script src="../js/hamburger.js"></script>
<header class="jps-header">
    <div class="jps-logo">
        <div class="jps-logo-icon">JP</div>
        <div class="jps-logo-text">
            <span class="jps-logo-name">JP Services</span>
            <span class="jps-logo-tagline">construction</span>
        </div>
    </div>

    <div class="jps-phone">
        <span>Call us: <a href="tel:936-111-1111">936-111-1111</a></span>
    </div>

    <div class="jps-socials desktop-socials">
        <a href="https://facebook.com" aria-label="Facebook">
            <img src={facebookSVG.src} alt="Facebook" />
        </a>
        <a href="https://google.com" aria-label="Google">
            <img src={googleSVG.src} alt="Google" />
        </a>
    </div>

    <button class="hamburger-menu" aria-label="Toggle menu">
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
    </button>

    <nav class="jps-nav">
        <ul class="jps-nav-links">
            <li><a href="" class="active">Home</a></li>
            <li><a href="">Pages</a></li>
            <li><a href="">Our Work</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Blog</a></li>
        </ul>

        <div class="mobile-phone">
            <span>Call us: <a href="tel:936-111-1111">936-111-1111</a></span>
        </div>

        <div class="jps-socials mobile-socials">
            <a href="https://facebook.com" aria-label="Facebook">
                <img src={facebookSVG.src} alt="Facebook" />
            </a>
            <a href="https://google.com" aria-label="Google">
                <img src={googleSVG.src} alt="Google" />
            </a>
        </div>
    </nav>
</header>
