---
import "../styles/styles.css";
---

<script src="../js/headerHeight.js"></script>
<script src="../js/carousel.js"></script>
<section class="jps-hero">
    <div class="hero-carousel">
        <div class="hero-slide active">
            <div class="jps-hero-text-container">
                <h1>Crafting the Perfect Deck for Your Home</h1>
                <h6>
                    Elevate Your Outdoor Space with Expert Craftsmanship and
                    Quality Materials.
                </h6>
                <button
                    class="hero-btn"
                    aria-label="Get a Free Quote for a Custom Deck"
                >
                    Get a Free Quote
                </button><!--link to contact form -->
            </div>
        </div>
        <div class="hero-slide">
            <div class="jps-hero-text-container">
                <h1>Your Yard, Your Sanctuary</h1>
                <h6>
                    Block out noise and nosy neighbors with a fence built for
                    peace.
                </h6>
                <button
                    class="hero-btn"
                    aria-label="Get a Free Quote for a Custom Deck"
                >
                    Get a Free Quote
                </button><!--link to contact form -->
            </div>
        </div>
        <div class="hero-slide">
            <div class="jps-hero-text-container">
                <h1>Luxury & Comfort, Right at Home.</h1>
                <h6>Create a peaceful escape just steps from your door.</h6>
                <button
                    class="hero-btn"
                    aria-label="Get a Free Quote for a Custom Deck"
                >
                    Get a Free Quote
                </button><!--link to contact form -->
            </div>
        </div>
    </div>
</section>
